/FPTStudentGradeManagementSystem/nbproject/private/
/FPTStudentGradeManagementSystem/build/
/StudentDepartmentManagement/nbproject/private/
/StudentDepartmentManagement/build/
/FPTStudentManagementSystem/build/
/FPTStudentManagementSystem/dist/
